<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <p>User id :{{user.id}} <br></p>
    <p>Name :{{user.first_name}} {{user.last_name}} <br></p>
    <p>Email :{{user.email}} <br></p>
    <p>Address :{{user.address}} <br></p>
    <p>Date of Birth :{{user.dob}} <br></p>
    <p>Phone number : {{user.countrycode}} {{user.phone}} <br></p>
    <p>Gender :{{user.sex}} <br></p>
    <p>Pincode :{{user.pincode}} <br></p>
    <p>Username :{{user.username}} <br></p>
    <p>Bio : {{user.bio}} <br></p>
    <img src="{{user.image.url}}" alt="" >
</body>
</html>